<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple Sidebar - Start Bootstrap Template</title>

        <!-- Bootstrap Core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="static/css/app.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

            <div id="wrapper">
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <div class="brand"><img src="static/images/icon.png" height="50" width="50"></div>
            <ul class="nav sidebar-nav">
                
                <li class="subtitle">
                    
                </li>
                <li class="link all">
                    <a onClick="displayAll()" href="#">Toutes catégories</a>
                </li>
                <li class="subtitle">
                    Collège
                </li>
                <li class="link girl">
                    <a onClick="displayCollegeWomen()" href="#">Filles</a>
                </li>
                <li class="link boy">
                    <a onClick="displayCollegeMen()" href="#">Garçons</a>
                </li>
                <li class="subtitle">
                    Elite
                </li>
                <li class="link girl">
                    <a onClick="displayEliteWomen()" href="#">Filles</a>
                </li>
                <li class="link boy">
                    <a onClick="displayEliteMen()" href="#">Garçons</a>
                </li>
                <li class="subtitle">
                    Aménagée
                </li>
                <li class="link girl">
                    <a onClick="displayCustomWomen()" href="#">Filles</a>
                </li>
                <li class="link boy">
                    <a onClick="displayCustomMen()" href="#">Garçons</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="col-md-12">
                <div id="single-category">
                    <div class="col-md-6 col-md-offset-2 col-sm-12">
                        <div class="card">
                            <div class="title"></div>
                            <div class="body">
                                <table id="custom-women" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2">Position</th>
                                            <th class="col-md-4">Prénom</th>
                                            <th class="col-md-4">Nom</th>
                                            <th class="col-md-2">Temps</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                
                                    </tbody>
                                </table>
                            </div>   
                        </div>
                    </div>          
                </div>
                <div id="all-categories" class="">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Collège filles</div>
                                <div class="body">
                                    <table id="college-women" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
                        </div>  
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Collège garçons</div>
                                <div class="body">
                                    <table id="college-men" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div> 
                            </div>   
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Elite filles</div>
                                <div class="body">
                                    <table id="elite-women" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div>  
                            </div>   
                        </div>  
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Elite garçons</div>
                                <div class="body">
                                    <table id="elite-men" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>    
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Aménagée filles</div>
                                <div class="body">
                                    <table id="custom-women" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div>   
                            </div>  
                        </div>   
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="title">Aménagée garçons</div>
                                <div class="body">
                                    <table id="custom-women" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">Position</th>
                                                <th class="col-md-4">Prénom</th>
                                                <th class="col-md-4">Nom</th>
                                                <th class="col-md-2">Temps</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                        </tbody>
                                    </table>
                                </div>   
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
        isClosed = false;

        trigger.click(function () {
            hamburger_cross();      
        });

        function hamburger_cross() {

        if (isClosed == true) {   
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
        } else {   
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
        }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        }); 
    });
    </script>
</html>